<footer>
    <div class="footer">
       <span>
           <strong>PETABYTE</strong> ATACADO E VAREJO DE PRODUTOS DE INFORMATICA LTDA <br>
           <strong>ATEDIMENTO</strong><span></span> De segunda à sexta das 8h30 as 12h - 13h às 18H<br>
           <strong>Campo Grande | MS</strong><br>
           Siga-nos<br>
       </span>
        <a href="https://pt-br.facebook.com/" class="redes-sociais">
            <img src="https://s3-sa-east-1.amazonaws.com/curso.spring.ionic.henrique/facebook.png">
        </a>
        <a href="https://twitter.com/login?lang=pt" class="redes-sociais">
            <img src="https://s3-sa-east-1.amazonaws.com/curso.spring.ionic.henrique/twitter.png">
        </a>
        <a href="https://www.instagram.com/?hl=pt-br" class="redes-sociais">
            <img src="https://s3-sa-east-1.amazonaws.com/curso.spring.ionic.henrique/instagram.png">
        </a>
   </div>
</footer>