/*******************Rodapé*******************/
footer {
    background-color:#161616;
    position: relative;
    bottom: 0;
    width: 100%;
    clear: both;
    padding: 20px 0;
    border-top: rgb(0, 140, 255) solid 4px;
    text-align: center;
    font-size: 0.95rem;
}

footer .footer {
    width: 90%;
    max-width: 1200px;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

footer .footer span {
    color: rgb(206, 206, 206);
}

footer div a {
    color: #868686;
    font-size: 1.3rem;
    padding: 10px; 
    transition: all .5s ease;
}

footer div a img {
    width: 25px;
}